@using BlazorApp.Shared.Data
@using BlazorApp.Shared.Laguage
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@using LanguageKeys = BlazorApp.Shared.Language.LanguageKeys
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject HttpClient Http
@inject LanguageService LanguageService


<div class="container-fluid d-flex header justify-content-center w-100">
    <div class="main-row px-main row w-100">
        <div class="map-title px-4 col border-bottom border-2 border-dark  bm-2 bg-white mt-5">
            <input class="map-input pt-2 w-100 border-0" @bind-value="SearchString" />
        </div>

        @if (ContainErrors)
        {
            <div class="row my-2">
                @foreach (var error in Errors)
                {
                    <div class="col">
                        <div class="alert alert-danger d-flex justify-content-between" role="alert">
                            @error
                            <div role="button" class="btn btn-close" @onclick="()=> RemoveError(error)"></div>
                        </div>
                    </div>
                }
            </div>
        }

        <div class="calc-container row px-0 pb-5 m-0 mb-5">
            <div class="col-12 col-xl-5 input-container order-1 order-xl-0 pt-3">
                <div class="row pb-4">
                    <div class="col-auto @(KnownLocaltions.Any()? "": "d-none")">
                        <div class="dropdown">
                            <button @onclick="ToggleLocationsList" class="btn btn-primary dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                @LanguageService.GetTraslation("KnownLocations")
                            </button>
                            <div class="dropdown-menu @(_showLocationsList? "d-block": "d-none")"
                                aria-labelledby="dropdownMenuButton">
                                @foreach (var location in KnownLocaltions)
                                {
                                    <span role="button" class="dropdown-item" href="#"
                                        @onclick="() => OnLocationSelect(location)">@location.Title -
                                        @location.Address</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button @onclick="async () => await AddNewLocation()" class="btn btn-primary" type="button"
                            id="dropdownMenuButton">
                            @LanguageService.GetTraslation(LanguageKeys.AddNewObject)
                        </button>
                    </div>
                </div>
                @if (CurrentRequest != null)
                {
                    <div class="row mb-2">
                        <div class="col-12 label">
                            <span>@LanguageService.GetTraslation(nameof(CurrentRequest.Title))</span>
                        </div>
                        <div class="col-12">
                            <input class="w-100" type="text" name="@nameof(CurrentRequest.Title)"
                                @bind-value="CurrentRequest.Title" />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 label">
                            <span>@LanguageService.GetTraslation(nameof(CurrentRequest.Address))</span>
                        </div>
                        <div class="col-12">
                            <input class="w-100" type="text" name="@nameof(CurrentRequest.Address)"
                                @bind-value="CurrentRequest.Address" />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 label">
                            <span>@LanguageService.GetTraslation(nameof(CurrentRequest.RoofArea))</span>
                        </div>
                        <div class="col-12">
                            <input class="w-100" type="text" name="@nameof(CurrentRequest.RoofArea)"
                                @bind-value="CurrentRequest.RoofArea" />
                        </div>
                    </div>
                    <div class="row mb-2 additional-info">
                        <div class="col-6">
                            <span>@LanguageService.GetTraslation(nameof(CurrentRequest.Coordinates.Latitude))</span>
                            <span>@CurrentRequest.Coordinates.Latitude</span>
                        </div>
                        <div class="col-6">
                            <span>@LanguageService.GetTraslation(nameof(CurrentRequest.Coordinates.Longitude))</span>
                            <span>@CurrentRequest.Coordinates.Longitude</span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 label">
                            <span>@LanguageService.GetTraslation(nameof(CurrentRequest.InvestmentPrice))</span>
                        </div>
                        <div class="col-12">
                            <input class="w-100" type="text" name="@nameof(CurrentRequest.InvestmentPrice)"
                                @bind-value="CurrentRequest.InvestmentPrice" />
                            <span
                                class="w-100 additional-info">@LanguageService.GetTraslation(LanguageKeys.InvestmentPriceNote)
                                @GenerationData.InvestmentPrice</span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-8 label">
                                    <span>@LanguageService.GetTraslation(nameof(CurrentRequest.EnergyPrice))</span>
                                </div>
                                <div class="col label">
                                    <span>@LanguageService.GetTraslation(nameof(CurrentRequest.CurrencyName))</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <input class="w-100" type="text" name="@nameof(CurrentRequest.EnergyPrice)"
                                        @bind-value="CurrentRequest.EnergyPrice" />
                                </div>
                                <div class="col">
                                    <input class="w-100" type="text" name="@nameof(CurrentRequest.CurrencyName)"
                                        @bind-value="CurrentRequest.CurrencyName" />
                                </div>
                            </div>
                            <span class="w-100 additional-info">@LanguageService.GetTraslation(LanguageKeys.EnergyPriceNote)
                                @GenerationData.EnergyPrice</span>
                        </div>
                    </div>
                }

                @if (IsValidRequest())
                {
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-primary"
                                @onclick="Calculate">@LanguageService.GetTraslation(LanguageKeys.Calculate)</button>
                        </div>
                    </div>
                }

            </div>
            <div class="col-12 col-xl-7 order-0 order-xl-1 px-0">
                <GoogleMap @ref="@_map1" Id="map1" Options="@_mapOptions"
                    OnAfterInit="@(async () => await OnAfterInitAsync())">
                </GoogleMap>
            </div>
            @if (CurrentResponce != null)
            {
                <div class="col-12 d-flex flex-wrap justify-content-around order-2 p-xl-5 py-3">
                    <div class="result-item rounded-3 p-3 my-1">
                        <div class="pb-2 result-title">
                            @LanguageService.GetTraslation(nameof(CurrentResponce.TotalInvestment))
                        </div>
                        <div class=" align-items-center d-flex result-info">
                            <span class="result-number"> @MakeNumberReadable(CurrentResponce.TotalInvestment)</span>
                            <span class="px-2 result-number-text">@CurrentResponce.CurrencyName</span>
                        </div>

                    </div>
                    <div class="result-item rounded-3 p-3 my-1">
                        <div class="pb-2 result-title">
                            @LanguageService.GetTraslation(nameof(CurrentResponce.AvgGeneration))
                        </div>
                        <div class=" align-items-center d-flex result-info">
                            <span class="result-number"> @CurrentResponce.AvgGeneration</span>
                        </div>
                        <div>

                        </div>
                    </div>
                    <div class=" result-item rounded-3 p-3 my-1">
                        <div class="pb-2 result-title">
                            @LanguageService.GetTraslation(nameof(CurrentResponce.TotalIncome))
                        </div>
                        <div class=" align-items-center d-flex result-info">
                            <span class="result-number">@MakeNumberReadable(CurrentResponce.TotalIncome)</span>
                            <span class="px-2 result-number-text">@CurrentResponce.CurrencyName</span>
                        </div>

                    </div>
                </div>
                <div class="accordion order-3" id="detailsAccordion">
                    <div class="accordion-item">
                        @if (!_showDetails)
                        {
                            <button role="button" class="btn btn-secondary" @onclick="ToggleDetails">
                                @LanguageService.GetTraslation(LanguageKeys.ShowDetailsAboutCalculations)
                            </button>
                        }
                        else
                        {
                            <button role="button" class="btn btn-secondary" @onclick="ToggleDetails">
                                @LanguageService.GetTraslation(LanguageKeys.HideDetailsAboutCalculations)
                            </button>
                        }
           <div id="detailsInformation" class="mt-4 detailsInfoAccordion accordion-collapse collapse @(_showDetails? "show": "")" data-bs-parent="#accordionExample">
    <table class="table">
        <tbody>
            <tr>
                <td colspan="2"><strong>@CurrentResponce.Title</strong></td>
            </tr>
            <tr>
                <td colspan="2">@CurrentResponce.Address</td>
            </tr>
            <tr>
                <td class="nowrap">@LanguageService.GetTraslation(nameof(CurrentResponce.TotalInvestment))</td>
               <td>
                  <span class="table-number">@MakeNumberReadable(CurrentResponce.TotalInvestment)</span>  
                  <span class="table-currency"> </span>  
                     </td>
            </tr>
            <tr>
                <td class="nowrap">@LanguageService.GetTraslation(nameof(CurrentResponce.AvgGeneration))</td>
                <td>
                  <span class="table-number">@CurrentResponce.AvgGeneration</span>  
                  <span class="table-currency"> @LanguageService.GetTraslation(LanguageKeys.PowerName)/@LanguageService.GetTraslation(LanguageKeys.Year)</span>  
                     </td>
            </tr>
            <tr>
                <td class="nowrap">@LanguageService.GetTraslation(nameof(CurrentResponce.TotalIncome))</td>
               <td>
                  <span class="table-number">@MakeNumberReadable(CurrentResponce.TotalIncome)</span>  
                  <span class="table-currency"> @CurrentResponce.CurrencyName</span>  
                     </td>
                
            </tr>
            <tr>
                <td class="nowrap">@LanguageService.GetTraslation(nameof(CurrentResponce.Coordinates))</td>
                <td>@CurrentResponce.Coordinates.Latitude, @CurrentResponce.Coordinates.Longitude</td>
            </tr>
            <tr>
                <td class="nowrap">@LanguageService.GetTraslation(nameof(CurrentResponce.RoofArea))</td>
                 <td>
                  <span class="table-number">@CurrentResponce.RoofArea</span>  
                  <span class="table-currency"> </span>  
                     </td>
            </tr>
            <tr>
                <td class="nowrap">@LanguageService.GetTraslation(nameof(CurrentResponce.EffectiveRoofArea))</td>
                 <td>
                  <span class="table-number">@CurrentResponce.EffectiveRoofArea</span>  
                  <span class="table-currency"> </span>  
                     </td>
            </tr>
            <tr>
                <td class="nowrap">@LanguageService.GetTraslation(nameof(CurrentResponce.EnergyPrice))</td>
                 <td>
                  <span class="table-number"></span>  
                  <span class="table-currency">@(CurrentResponce.CurrencyName)/@LanguageService.GetTraslation(LanguageKeys.PowerName)*@LanguageService.GetTraslation(LanguageKeys.Hour)</span>  
                     </td>
            </tr>
            <tr>
                <td class="nowrap">@LanguageService.GetTraslation(nameof(CurrentResponce.MinGenetation))</td>
                 <td>
                  <span class="table-number">@CurrentResponce.MinGenetation</span>  
                  <span class="table-currency"> @LanguageService.GetTraslation(LanguageKeys.PowerName)/@LanguageService.GetTraslation(LanguageKeys.Month)</span>  
                     </td>
            </tr>
            <tr>
                <td class="nowrap">@LanguageService.GetTraslation(nameof(CurrentResponce.MaxGeneration))</td>
                 <td>
                  <span class="table-number">@CurrentResponce.MaxGeneration</span>  
                  <span class="table-currency"> @LanguageService.GetTraslation(LanguageKeys.PowerName)/@LanguageService.GetTraslation(LanguageKeys.Month)</span>  
                     </td>
            </tr>
        </tbody>
    </table>
</div>





                    </div>
                </div>
            }
        </div>


    </div>
</div>